@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	#main-section
		background-image: none
		width: 100%
		height: auto
		.main-section-text
			top: 0
		.media-cover
			color: white
			background-color: $accent
			width: 90%
			padding-bottom: 10px
			padding-top: 10px
		h1,p
			text-align: center
		.row
			p
				margin: 20px auto
		.media-box
			margin: auto
			p
				border-left: solid
				border-color: $accent !important
				border-width: 15px
				padding-left: 30px
				text-align: left
		.img-slash-sm
			display: none
		.img-slash-big
			display: none
		.media-text-center
			text-align: center
			.btn
				padding: 7px 90px 7px 90px
		.flex
			text-align: center
			display: block
			padding-top: 15px
			padding-bottom: 50px
			p
				display: inline-block
			img
				vertical-align: inherit
				display: inline-block
				margin-left: 55px

	#secret-section
		background-image: none
		background-color: $secret-section-color
		padding: 0
		width: auto
		height: auto
		h2
			margin-top: 55px
			padding-bottom: 30px
		p
			margin-left: 0
			text-align: center
		.second-row
			padding-bottom: 30px
			p
				border-left: solid
				border-color: white
				border-width: 3px
				padding-left: 30px
				text-align: left
			h2
				text-align: left
				padding-left: 30px
				padding-bottom: 10px
				margin-top: 35px
		.media-img-secret
			display: block
			max-width: 100%
			height: auto
		    padding-left: 15px
    		padding-right: 15px
		.second-row
			left: 0
		.media-display-block
			display: block
			img,p
				display: inline-block
				vertical-align: top

	#what-awaits-section
		background-image: url('../img/_src/screen-4-bgr-mob.jpg')
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		width: auto
		height: auto
		.media-img-what-awaits
			img
				margin: 25px auto
		h2
			padding: 40px 10px
			margin-bottom: 0

	#some-section
		background-image: url('../img/_src/screen-5-bgr-mob.jpg')
		background-position: top
		background-repeat: no-repeat
		background-size: contain
		height: auto
		padding: 30px 15px
		.border-bottom
			border-bottom: white
		h3
			padding-left: 0 !important
		p
			padding-left: 10px
    		padding-right: 10px

	#why-me-section
		background-image: none
		height: auto
		background: linear-gradient($light-gray-color, white)
		.img-sandra, .img-logo
			display: none
		h2
			padding-top: 50px
			margin-top: 0
			margin-bottom: 0
		p
			padding-left: 15px
			padding-right: 15px
		.box-border
			border: none
			background: none
		.box-border-text
			padding-left: 15px
			padding-right: 15px

	#reviews-section
		iframe
			padding-right: 4px
			padding-left: 4px
		.left-column-reviews
			text-align: left
			text-align: -webkit-left
		.user-name,.img-reviews,p
			margin-left: 4px
			margin-right: 4px
		.slick-prev
			left: -30px
		.slick-next
			right: -10px
		.slick-next,.slick-prev
			&:before
				background-color: lightgray
				border-radius: 50%
				padding: 0px 10px 4px 10px
		.slick-list
			padding: 2px

	.media-main-bg
		display: block
		max-width: 100%
		height: auto
	.media-br,.media-disable
		display: none
	.logo_container
		img
			margin: 30px auto
		top: 0px
		left: 0
	.media-margin-auto
		margin: auto !important
	.media-text-center
		text-align: center !important

// ≥768px
+media-breakpoint-down(sm)
	#main-section
		background-image: none
		width: 100%
		height: auto
		.main-section-text
			top: 0
		.media-cover
			color: white
			background-color: $accent
			width: 90%
			padding-bottom: 10px
			padding-top: 10px
		h1,p
			text-align: center
		.row
			p
				margin: 20px auto
		.media-box
			margin: auto
			p
				border-left: solid
				border-color: $accent !important
				border-width: 15px
				padding-left: 30px
				text-align: left
		.img-slash-sm
			display: none
		.img-slash-big
			display: none
		.media-text-center
			text-align: center
			.btn
				padding: 7px 90px 7px 90px
		.flex
			text-align: center
			display: block
			padding-top: 15px
			padding-bottom: 50px
			p
				display: inline-block
			img
				vertical-align: inherit
				display: inline-block
				margin-left: 55px

	#secret-section
		background-image: none
		background-color: $secret-section-color
		padding: 0
		width: auto
		height: auto
		h2
			margin-top: 55px
			padding-bottom: 30px
		p
			margin-left: 0
			text-align: center
		.second-row
			padding-bottom: 30px
			p
				border-left: solid
				border-color: white
				border-width: 3px
				padding-left: 30px
				text-align: left
			h2
				text-align: left
				padding-left: 30px
				padding-bottom: 10px
				margin-top: 35px
		.media-img-secret
			display: block
			max-width: 100%
			height: auto
		    padding-left: 15px
    		padding-right: 15px
		.second-row
			left: 0
		.media-display-block
			display: block
			img,p
				display: inline-block
				vertical-align: top

	#what-awaits-section
		background-image: url('../img/_src/screen-4-bgr-mob.jpg')
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		width: auto
		height: auto
		.media-img-what-awaits
			img
				margin: 25px auto
		h2
			padding: 40px 10px
			margin-bottom: 0

	#some-section
		background-image: url('../img/_src/screen-5-bgr-mob.jpg')
		background-position: top
		background-repeat: no-repeat
		background-size: contain
		height: auto
		padding: 30px 15px
		.border-bottom
			border-bottom: white
		h3
			padding-left: 0 !important
		p
			padding-left: 10px
    		padding-right: 10px

	#why-me-section
		background-image: none
		height: auto
		background: linear-gradient($light-gray-color, white)
		.img-sandra, .img-logo
			display: none
		h2
			padding-top: 50px
			margin-top: 0
			margin-bottom: 0
		p
			padding-left: 15px
			padding-right: 15px
		.box-border
			border: none
			background: none
		.box-border-text
			padding-left: 15px
			padding-right: 15px

	#reviews-section
		iframe
			padding-right: 4px
			padding-left: 4px
		.left-column-reviews
			text-align: left
			text-align: -webkit-left
		.user-name,.img-reviews,p
			margin-left: 4px
			margin-right: 4px
		.slick-prev
			left: -30px
		.slick-next
			right: -10px
		.slick-next,.slick-prev
			&:before
				background-color: lightgray
				border-radius: 50%
				padding: 0px 10px 4px 10px
		.slick-list
			padding: 2px

	.media-main-bg
		display: block
		max-width: 100%
		height: auto
	.media-br,.media-disable
		display: none
	.logo_container
		img
			margin: 30px auto
		top: 0px
		left: 0
	.media-margin-auto
		margin: auto !important
	.media-text-center
		text-align: center !important

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
